menuconfig TEGRA_BB_SUPPORT
	bool "Tegra baseband support"
	depends on ARCH_TEGRA
	---help---
	  Say Y here to get to see options for tegra baseband support.
	  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if TEGRA_BB_SUPPORT

config TEGRA_BB_POWER
	bool "Enable tegra baseband power driver"
	---help---
	 Adds power management driver for managing different baseband
	 modems with tegra processor.

	 This driver should work with at least the following devices:

            * STE M7400
            * ...

	 Disabled by default. Choose Y here if you want to build the driver.

config TEGRA_BB_M7400
	bool "Enable driver for M7400 modem"
	---help---
	 Enables driver for M7400 modem.

	 Disabled by default. Choose Y here if you want to build the driver.

endif # TEGRA_BB_SUPPORT
