config BCMDHD
	tristate "Broadcom 4329/30 wireless cards support"
	depends on MMC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 4329/30 chipset.

	  This driver uses the kernel's wireless extensions subsystem.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCMDHD_FW_DIR
	depends on BCMDHD
	string "Firmware path"
	default "/system/vendor/firmware"
	---help---
	  Path to the firmware file.

config BCMDHD_NVRAM_DIR
	depends on BCMDHD
	string "NVRAM path"
	default "/system/etc"
	---help---
	  Path to the calibration file.

config BCMDHD_WEXT
	bool "Enable WEXT support"
	depends on BCMDHD && CFG80211 = n
	select WIRELESS_EXT
	select WEXT_PRIV
	help
	  Enables WEXT support

config BCMDHD_WIFI_CONTROL_FUNC
	bool "Use bcmdhd_wlan device"
	depends on BCMDHD
	default n
	---help---
	  Use this option to get various parameters from architecture specific
	  bcmdhd_wlan platform device. Say n if unsure.

config BCMDHD_HW_OOB
	bool "Use out of band interrupt"
	depends on BCMDHD
	default n
	---help---
	  Use out of band interrupt for card interrupt and wake on wireless.
