choice
	prompt "Select ODM kit target board"

config TEGRA_ODM_HARMONY
	bool "NVIDIA Tango or Harmony development system"
	depends on ARCH_TEGRA_2x_SOC && MACH_TEGRA_GENERIC

config TEGRA_ODM_VENTANA
	bool "NVIDIA Ventana development system"
	depends on ARCH_TEGRA_2x_SOC && MACH_TEGRA_GENERIC

config TEGRA_ODM_WHISTLER
	bool "NVIDIA Whistler development system"
	depends on ARCH_TEGRA_2x_SOC && MACH_TEGRA_GENERIC

config TEGRA_ODM_STAR
	bool "NVIDIA star system for LGE"
	depends on ARCH_TEGRA_2x_SOC
endchoice
