
menu "Motion Sensors Support"

choice
    tristate "Motion Processing Unit"
    depends on I2C
    optional

config SENSORS_MPU3050
    tristate "MPU3050"
    help
      If you say yes here you get support for the MPU3050 Gyroscope driver
      This driver can also be built as a module.  If so, the module
      will be called mpu3050.

config SENSORS_MPU6000
    tristate "MPU6000"
    help
      If you say yes here you get support for the MPU6000 Gyroscope driver
      This driver can also be built as a module.  If so, the module
      will be called mpu6000.

endchoice

choice
    prompt "Accelerometer Type"
    depends on SENSORS_MPU3050
    optional

config SENSORS_KXTF9_MPU
    bool "Kionix KXTF9"
    help
      This enables support for the Kionix KXFT9 accelerometer

endchoice

choice
    prompt "Compass Type"
    depends on SENSORS_MPU6000 || SENSORS_MPU3050
    optional

config SENSORS_AK8975_MPU
    bool "AKM ak8975"
    help
      This enables support for the AKM ak8975 compass

endchoice

config SENSORS_MPU_DEBUG
    bool "MPU debug"
    depends on SENSORS_MPU3050 || SENSORS_MPU6000
    help
      If you say yes here you get extra debug messages from the MPU3050
      and other slave sensors.

endmenu

